
body{
  background-image: URL("/squared_metal.png");
}

.img-linkedin{
  margin-right:10px;
}

.linkedin{
  text-decoration: none!important;
  margin-left:30px;
  color:black;
}


.nav{
 width: 80%; 
 padding:10px;
 background-color: black;
 border:none;
 color:white;
 margin-left:10px;
}

.nav-top{
  margin-top:10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.nav-bottom{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav:hover{
  background-color: white;
  color:black;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
    text-decoration: none!important;
    padding:5px;
}