.profile{
    max-width: 100%;
}

.picture-container{
    border:1pt solid black;
    margin-top:20px;
    padding:10px;
    background-color: black;
    border-radius: 5px;
}

.about-container{
    border:8pt solid black;
    margin-top:20px;
    margin-left:30px;
    padding:15px;
    border-radius: 5px;
    background-color: white;
}